<div class="box-header with-border">
  <h3 class="box-title">产品修改页面</h3>
</div>
<form class="form-horizontal" [formGroup]='formModel'>
  <input type="hidden" name="id" formControlName="id">
  <div class="box-body">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">产品名称</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="产品名称"  formControlName="name">
        <span [hidden]="!formModel.get('name').getError('required')">产品名称必填项</span>
        <span [hidden]="!formModel.get('name').getError('minlength')">产品名称长度大于等于两个字符</span>
      </div>

    </div>

    <div class="form-group">
      <label for="category" class="col-sm-2 control-label">产品分类</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="category" placeholder="产品分类" formControlName="category">
        <span [hidden]="!formModel.get('category').getError('required')">产品分类必填项</span>
        <span [hidden]="!formModel.get('category').getError('minlength')">产品分类长度大于等于两个字符</span>
      </div>
    </div>
    <div class="form-group">
      <label for="stars" class="col-sm-2 control-label">产品评分</label>

      <div class="col-sm-10">
        <input type="hidden" [value]="product?.stars" formControlName="stars">
        <app-stars [star]="product?.stars" (event)="handleStarChange($event)"></app-stars>
      </div>
    </div>
    <div class="form-group">
      <label for="price" class="col-sm-2 control-label">产品价格</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="price" placeholder="产品价格"formControlName="price">
        <span [hidden]="formModel.get('price').valid">产品价格必须是数字</span>
      </div>
    </div>
    <div class="form-group">
      <label for="stock" class="col-sm-2 control-label">产品库存</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="stock" placeholder="产品库存" formControlName="stock">
        <span [hidden]="formModel.get('stock').valid">产品价格必须是数字</span>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-default" (click)="cancelClick()">取消</button>
    <button type="submit" class="btn btn-info pull-right" (click)="handleSubmit()">修改</button>
  </div>
</form>
